<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - Pipbot</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>

<h1>Kanäle</h1>

<table class="table-view">
    <thead>
    <tr>
        <!-- TODO Überschriften in Language Service übersetzen -->
        <!-- <td>id</td> -->
        <td>name</td>
        <td>language</td>
        <td>shoutOutOnRaidMode</td>
        <td>shoutoutChannels</td>
        <td></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="channel: ${channels}">
        <!-- <td th:text="${channel.id}"></td> -->
        <td th:text="${channel.name}"></td>
        <td th:text="${channel.language}"></td>
        <td th:text="${@languageService.getMessage('shoutout.on.raid.mode.'+channel.shoutOutOnRaidMode)}"></td>
        <td th:text="${channel.shoutoutChannels}"></td>
        <td> <a th:href="@{/channels(channel-id=${channel.id})}">edit</a>  </td>
        <td> <a th:href="@{/channels/delete(channel-id=${channel.id})}">delete</a></td>
        <td th:if="${channel.active}"> <a th:href="@{/channels/deactivate(channel-id=${channel.id})}">deactivate</a></td>
        <td th:if="${!channel.active}"> <a th:href="@{/channels/activate(channel-id=${channel.id})}">activate</a></td>
    </tr>
    </tbody>
</table>

<div>
<form th:action="@{/channels/save}" th:object="${channel}" method="post">
    <div th:if="${#fields.hasErrors('global')}">
        <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error"></p>
    </div>
    <input type="hidden" th:field="*{id}" id="id">
    <table>
        <tr>
            <td><label th:text="|Kanalname|"></label></td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td><label th:text="|Sprache|"></label></td>
            <td><input type="text" th:field="*{language}" /></td>
        </tr>
        <tr>
            <td><label th:text="|Raid response mode|"></label></td>
            <td><select th:field="*{shoutOutOnRaidMode}">
                <option th:value="NONE" th:text="${@languageService.getMessage('shoutout.on.raid.mode.NONE')}"></option>
                <option th:value="TEXT" th:text="${@languageService.getMessage('shoutout.on.raid.mode.TEXT')}"></option>
                <option th:value="STREAM_ELEMENTS_SHOUTOUT" th:text="${@languageService.getMessage('shoutout.on.raid.mode.STREAM_ELEMENTS_SHOUTOUT')}"></option>
                <option th:value="TWITCH_SHOUTOUT" th:text="${@languageService.getMessage('shoutout.on.raid.mode.TWITCH_SHOUTOUT')}"></option>
            </select></td>
        </tr>
        <tr>
            <td><label th:text="|Raid response channels|"></label></td>
            <td><input th:field="*{shoutoutChannels}" /></td>
        </tr>
        <tr><td><input type="submit" value="Submit" /></td></tr>
    </table>
</form>
</div>


</body>
</html>