<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home - Pipbot</title>
</head>
<body>
<ul>
  <li><a th:text="${#messages.msg('frontend.home.links.channels')}" th:href="@{/channels}"></a></li>
  <li><a th:text="${#messages.msg('frontend.home.links.memes')}" th:href="@{/memes}"></a></li>
  <li><a th:text="${#messages.msg('frontend.home.links.streams')}" th:href="@{/streams}"></a></li>
  <li><a th:text="${#messages.msg('frontend.home.links.autoresponder')}" th:href="@{/autoresponder}"></a></li>
  <!-- <li><a th:text="|Import / Export|" th:href="@{/data}"></a></li> -->
</ul>
</body>
</html>