<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memes</title>
</head>
<body>

<h1 th:text="${#messages.msg('frontend.memes.header')}"></h1>

<table>
    <thead>
    <tr>
        <th th:text="${#messages.msg('frontend.memes.table.headers.channel')}"></th>
        <th th:text="${#messages.msg('frontend.memes.table.headers.recordedAt')}"></th>
        <th th:text="${#messages.msg('frontend.memes.table.headers.user')}"></th>
        <th th:text="${#messages.msg('frontend.memes.table.headers.link')}"></th>
        <th th:text="${#messages.msg('frontend.memes.table.headers.message')}"></th>
        <th th:text="${#messages.msg('frontend.memes.table.headers.stream')}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="meme: ${memes}">
        <td th:text="${meme.channelName}"></td>
        <td th:text="${{meme.recordedAt}}"></td>
        <td th:text="${meme.sentByUser}"></td>
        <td><a th:if="${!meme.link.isEmpty()}" th:href="${meme.link}">Link</a></td>
        <td th:text="${meme.message}"></td>
        <td th:if="${meme.streamId}"><a th:text="|vom ${meme.streamStart}|" th:href="@{/memes(stream-id=${meme.streamId})}"></a></td>
    </tr>
    </tbody>
</table>

</body>
</html>